@import "tailwindcss";

@theme {
  --color-brand-lavender: #DCE2F8;
  --color-brand-pink: #F5E1E7;
}

body {
  background: linear-gradient(135deg, #111827 0%, #030712 100%);
  color: #f3f4f6;
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
}
